HOST=localhost
DM_HOST=localhost
GS_HOST=localhost
MS_HOST=localhost
DH_PORT=4001
LS_PORT=4002
TS_PORT=4003
DM_PORT=4005
MS_PORT=4009
GS_PORT=4010
UI_TOPOLOGY_CONFIG=UI-config/topology.conf
UI_MACHINE_CONFIG=UI-config/machine.conf
NAMESPACE=default_namespace
TASK_STATUS_FILE=UI-config/task_status_file
BUILDER_INPUT=raw-data
LAST_QUERY_FILE=UI-config/LatestQuery.txt
UI_SERVICE_SLEEP_TIME=5000
HEART_BEAT_INTERVAL=750
HEART_BEAT_THRESHOLD=2000
RECOVERY_DIRECTORY=RecoveryFiles/
MERGE_MAX_INPUT=1
MAX_READ_BUFFER=1
SNAPSHOT_PERIOD=50

